<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <br>
    <div class="container">
        <a href="/" class="btn btn-dark">

            Home
        </a>
        <br>
        {% if  request.user.username == show_user.username %}
            <form method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            upload your profile
            <br>
            <input type="file" id="img" name="img" accept="image/*">
            <br>
            <button class = 'btn btn-dark'>uplaod</button>
            </form>
        {% endif %}
        <br>
         {% if show_user.profile.profile_pic %}
        <img src="{{show_user.profile.profile_pic.url}}" height="200" width="200">
        {% else %}
        <img src="{% static '/images/profile/download (2).png' %}">
        {% endif %}
        <h1>
            name : {{show_user.first_name}} {{show_user.last_name}}
            <br>
            id = {{show_user}}
        </h1>
        <h1>
            Blogs from {{show_user.first_name}}
        </h1>
        <hr>

        {%for i in posts%}
        <h1>
            <a href="{% url 'view_blog' i.id %}"> {{i.title}}</a>
        </h1>

        {%endfor%}
        

    </div>
</body>

</html>